---
layout: default
title: Products
banner-image: /uploads/deepsea.jpg
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<section class="ml-[20%] p-5p bg-cover bg-bottom flex items-center text-white min-h-80" style="background-image: url('{{page.banner-image}}')">
    <div class="-ml-[20%]">
       <h2 class="text-[10vw] font-light mb-9 md:mb-16 leading-[0.9]"> 사업 품목 </h2>
       <h3 class="text-2xl max-w-screen-sm mt-7">러시아 해역에서 직접 조업한 수산물을 용도별 고객 맞춤 형태로<br> 현지 공장에서 가공해 국내 시장에 유통하고 있습니다. </h3>
    </div>
  </section>

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="p-5p max-w-screen-2xl mx-auto">
    <h2 class="sans tracking-wide uppercase text-center text-4xl mb-10 text-white"> 에코푸드 러시아산 수산물 </h2>
    <div class="sm:columns-3">

        {% for post in site.posts limit:12 %}

            {% include post-loop-item-mixed-images.html %}

        {% endfor %}

    </div>

</section>