---
layout: default
title: Blog Archive
---

<section class="p-5p archive" x-data="{ search: '', posts: [...document.querySelectorAll('.post')] }" x-on:input="filterPosts">
    <div class="max-w-screen-lg mx-auto p-2 center mb-8 text-center">
        <h2 class="font-serif text-4xl mb-2"> 사업 품목 </h2>
        <p>청청한 아시아태평양 해역의 신선함을 국민 식탁으로</p>

    </div>

    <div class="max-w-screen-lg mx-auto">

        {% for post in site.posts limit:100 %}

        <div class="post" x-show="search === '' || $el.querySelector('h2').textContent.toLowerCase().includes(search.toLowerCase())">
            {% include post-loop-item-simple.html %}
        </div>

        {% endfor %}
    </div>
</section>

