---
layout: default
title: ECOFOOD
banner-image: /uploads/deepsea1.jpg
about-image: /uploads/smiling.png
seo:
  title: ECOFOOD
  description: /uploads/travel/travel-22.jpg
  social_image: /uploads/travel/travel-22.jpg
  twitter_card:
  keywords:
  hide-from-google: false
---

<section class="ml-[20%] pt-12 p-5p bg-cover bg-center flex items-center text-white"
  style="background-image: url('{{page.banner-image}}')">
  <div class="-ml-[20%]">
    <h2 class="text-[8vw] mb-12"> 러시아의 신선함, <br> 국내 식탁까지 <br> 누리세요 </h2>
    <h3 class="text-2xl max-w-screen-md"> 20년간의 러시아 시장의 노하우로 최상의 원물, 다양한 가공제품 개발로<br> 고객만을 위한 합리적인 가격과 최상급 상품으로 보답하겠습니다.<br> 지금 바로 에코푸드의 신선한 수산물을 경험하세요! </h3>
  </div>
</section>

<!------------------------ Featured blog loop ------------------------>
<section class="p-5p">
  <div class="max-w-screen-xl mx-auto text-center justify-between mb-4">
    <h2 class="uppercase font-serif text-3xl tracking-wide text-white">Weekly Best Items</h2>
  </div>
  <div class="carousel-container">
    <div class="max-w-screen-xl mx-auto multiple-items">
      {% assign featured_posts = site.posts | where: 'featured', true %}
      {% for post in featured_posts limit:6 %}
      <div class="carousel-item {% cycle 'col-span-2', 'col-span-3', 'col-span-2' %}">
        {% include post-loop-item.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="bg-stone-100 p-5p">
<div class="grid md:grid-cols-2 max-w-screen-xl mx-auto">
  <div class="bg-image bg-cover bg-center" style="background-image: url('{{page.about-image}}')"> </div>
  <div class="py-15p px-8">
    <h2 class="p-8 text-center -ml-[20%] bg-[#0D404F] text-5xl max-w-sm text-white"> 에코푸드 소개 </h2>
    <p> 20년 가까운 러시아 시장에 대한 전문성과 노하우를 바탕으로 주식회사<br> 루스이코노믹은 2023년 러시아산 수산물 직수입 유통사업을 시작하였습니다. 우수한 품질의 제품만을 공급하며 이미 국내 수산물 시장에서 품질력과 가격 경쟁력을 인정받으며 빠른 속도로 신뢰를 쌓아가고 있습니다. 러시아 해역에서 직접 조업한 수산물을 용도별 고객 맞춤 형태로 현지 공장에서 가공해 국내 시장에 유통하고 있습니다.</p>
    <p>고객이 믿고 구매할 수 있는 새로운 수산물 유통에도 적극 앞장설 수 있도록 안전한 수산물만을 공급할 것을 약속드립니다. 에코푸드는 주식회사 루스이코노믹의 노하우로 고객의 비즈니스 성공을 더 가까이 하는
    수산물 유통 브랜드입니다.</p>
    </div>
  </div>
</section>






