---
layout: default 
banner-image: /uploads/travel/travel-25.jpg
---


<section class="p-5p max-w-screen-xl mx-auto" x-data="{ filter: 'all' }">

	<h2 class="text-center text-4xl mb-4"> Shop all products </h2> 

	<div class="filter text-center p-4"> 
		<a href="#" :class="{'active':filter === 'all'}" @click.prevent="filter = 'all'" class="tag">All</a>
        <a href="#" :class="{'active':filter === 'travel-guide'}" @click.prevent="filter = 'travel-guide'" class="tag">Travel Guides</a>
        <a href="#" :class="{'active':filter === 'preset'}" @click.prevent="filter = 'preset'" class="tag">Presets </a>
	</div>
	
	<div class="grid grid-cols-3 gap-4">

	<!-- Combine the two collections into one mega collection  -->
	{% assign all_products = site.products-guides | concat: site.products-presets | sort: 'title'  %}

	{% for product in all_products %}
		
		<div class="{{product.type | slugify }}" 
			 x-show="filter === 'all' || filter === '{{ product.type | slugify }}'">
			{% include product-loop-item.html type=product.type  %}
		</div>
			
	{% endfor %}

	</div>

</section>