
/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Browser Compatability - Aspect Ratio Fallback */

.aspect-square {
    padding-bottom: 100%; /* aspect 1/1 */
}

.aspect-portrait {
    padding-bottom: 133%;  /* aspect 3/4 */
}

.aspect-landcsape {
    padding-bottom: 60%; /* aspect 5/3 */
}

.filter .active {
    color: aqua;
    font-size: 4rem;
}


/* ----------- Default Styles --------- */

@layer base {


    h1, h2, h3, h4  {
        @apply font-serif mb-[0.5em];
    }

    h1 {
        @apply text-2xl leading-tight;
    }
    h2 {
        @apply text-xl leading-tight;
    }
    h3 {
        @apply text-xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply mb-[0.5em] leading-normal;
    }

    a {
        @apply underline-offset-2;
    }

    .prose blockquote {

        @apply font-serif text-4xl leading-none not-italic border-none p-2 my-4 max-w-lg mx-auto;

    }
    .prose blockquote p {

        @apply leading-tight text-center ;

    }

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    .tag {
        @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
    }

    .small-caps {
        font-variant: small-caps;
    }
}

/* carousel */

