
<header class="py-8 px-5p">

  <div class=" flex justify-between items-center max-w-screen-xl mx-auto">

      <a href="/" class="inline-block logo text-4xl font-serif tracking-wide"> CHLOE'S TRAVEL BLOG </a>

      <nav class="uppercase font-serif">

            <a href="/blog" class="p-2 hover:text-rose-400"> Blog </a>
            <a href="/members-login" class="p-2 hover:text-rose-400"> Members </a>
            <a href="/shop" class="p-2 hover:text-rose-400"> Shop </a>

      </nav>
    </div>

  </header>


<!--
  NOTE - need to style scrollbars more beeautifully and browser compatibly
-->
