<footer class="p-5p bg-zinc-800 text-white">
  <div class="max-w-screen-xl mx-auto md:grid grid-cols-3">
      <div class="p-4">
        <a href="/">
          <img src="/uploads/eco1.png" alt="Ecofood logo">
        </a>
        <p class="mt-2">(주)루스이코노믹 (RUS ECONOMIC Co.,Ltd.)<br> 서울특별시 마포구 독막로 100, 3층 303호 <br> 부산광역시 영도구 남항로 24-2</p>
      </div>

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase"> More from our team </h2>
        <!-- <a href="/blog-archive" class="p-1 block uppercase text-sm tracking-wide"> Blog Archive </a> -->
        <a href="http://www.ruseconomic.com/" class="p-1 block uppercase text-sm tracking-wide"> 루스이코노믹 사이트 </a>
        <!-- <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Four </a> -->
      </nav>

      <div class="col-6_sm-12-bottom padded right center-sm">
        <h2 class="p-1 font-serif tracking-wide uppercase"> KAKAOTALK. </h2>

        <img class="qrcode w-32 h-32" src="/uploads/qr.jpeg">


      </div>
    </div>


  </footer>
