<footer class="p-5p bg-zinc-800 text-white">
  <div class="max-w-screen-xl mx-auto md:grid grid-cols-3">
      <div class="p-4">
        <a href="/">
          <img src="/uploads/eco1.png" alt="Ecofood logo">
        </a>
        <p class="mt-2">에코푸드는 주식회사 루스이코노믹의 노하우로<br> 고객의 비즈니스 성공을 더 가까이 하는
        수산물<br> 유통 브랜드입니다.</p>
      </div>

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase"> More from our team </h2>
        <a href="/blog-archive" class="p-1 block uppercase text-sm tracking-wide"> Blog Archive </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Three </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Four </a>
      </nav>

      <div class="col-6_sm-12-bottom padded right center-sm">
        <h2 class="p-1 font-serif tracking-wide uppercase"> KAKAOTALK. </h2>

        <img class="qrcode w-32 h-32" src="/uploads/qr.jpeg">


      </div>
    </div>


  </footer>
